<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="level-right">
        <div *ngIf="isError" class="notification is-danger">
          <button (click)="removeNotification()" class="delete"></button>
          Login Failure Occured
        </div>
      </div>
      <div *ngIf="isSuccessful" class="notification is-primary">
        <button (click)="removeNotification()" class="delete"></button>
        Login Successful
      </div>
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input name="email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input" ngModel required
                  #username="ngModel" #nameInput="ngModel">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-check"></i>
                </span>
                <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">Username Required</div>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input name="password" type="password" placeholder="*******" class="input" ngModel required
                  #password="ngModel" #passwordInput="ngModel">
                <div class="help is-error" *ngIf="passwordInput.invalid && passwordInput.touched">Password Required
                </div>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-info">
                  Login
                </button>
              </div>
              <div class="control">
                <button class="button is-link is-light" routerLink="/create-account">Create Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>