    <h1 class="title has-text-centered">Send a Contract</h1> <!-- //Assuming contract will be automatically assigned an ID from the backend?. -->
    <!-- Modified from https://bulma.io/documentation/form/general/ -->
	<form action="" class="box" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Recipient</label> <!-- //Possibly need to check if the recipient exists from backend. -->
    		<div class="control">
    			<input class="input is-danger" type="text" placeholder="-1" value="User ID" name="userID" class="input" ngModel required
				#userID="ngModel" #userIDInput="ngModel"> <!-- //Start with a fake ID so no chance of bad sends. -->
    		</div>
    		<p class="help is-danger">No such user</p>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Associated Attorneys </label> 
    		<div  *ngFor="let attorney of attorneys">
    			<div class="field has-addons">
    				<div class="control is-expanded">
    					<input class="input" type="text" name="attorney_list" class="input" ngModel required
						#attorney_list="ngModel" #attorney_listInput="ngModel">
    				</div>
    				<div class="control">
    					<a class="button is-info" (click)="removePerson(attorney, false)">
    						Remove Attorney
    					</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Associated Clients </label> 
    		<div  *ngFor="let client of clients">
    			<div class="field has-addons">
    				<div class="control is-expanded">
    					<input class="input" type="text" name="client_list" class="input" ngModel required
						#client_list="ngModel" #client_listInput="ngModel">
    				</div>
    				<div class="control">
    					<a class="button is-info" (click)="removePerson(client, true)">
    						Remove Client
    					</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Contract Title </label>  <!-- May need to add title to backend -->
    		<div class="control">
    			<input class="input" type="text" name="contract_title" class="input" ngModel required
				#contract_title="ngModel" #contract_titleInput="ngModel">
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Creation Date </label> 
    		<div class="control">
    			<input class="input" type="text" name="date" class="input" ngModel required
				#date="ngModel" #dateInput="ngModel">
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Termination Date </label> 
    		<div class="control">
    			<input class="input" type="text" name="termination_date" class="input" ngModel required
				#termination_date="ngModel" #termination_dateInput="ngModel">
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Payment Type </label> 
    		<div class="control">
    			<input class="input" type="text" name="payment_type" class="input" ngModel required
				#payment_type="ngModel" #payment_typeInput="ngModel">
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="field">
    		<label class="label">Other Notes</label>
    		<div class="control">
    			<textarea class="textarea" name="notes"></textarea>
    		</div>
    	</div>
    </div>
    <div class="column is-centered">
    	<div class="file has-name">
    		<label class="file-label">
    			<input class="file-input" type="file" name="resume" class="input" ngModel required
				#resume="ngModel" #resumeInput="ngModel">
    			<span class="file-cta">
    				<span class="file-label">
    					Upload Contract PDF
    				</span>
    			</span>
    			<span class="file-name is-expanded">
    				ContractPDF.pdf
    			</span>
    		</label>
    	</div>
    </div>
    <div class="field is-grouped">

    	<div class="column is-centered">
    		<div class="control">
    			<button class="button is-fullwidth is-link" (click)="addPerson(false)">Add A New Attorney</button>
    		</div>
    	</div>
    	<div class="column is-centered">
    		<div class="control">
    			<button class="button is-fullwidth is-link" (click)="addPerson(true)">Add A New Client</button>
    		</div>
    	</div>
    	<div class="column is-centered">
    		<div class="control">
    			<button class="button is-fullwidth is-link" type="submit">Send</button>
    		</div>
    	</div>
    	<div class="column is-centered">
    		<div class="control">
    			<button class="button is-link is-fullwidth">Save Draft</button>
    		</div>
    	</div>
    	<div class="column is-centered">
    		<div class="control">
    			<button class="button is-link is-light is-fullwidth" (click)="draftOpen('/users')">Cancel</button>
    		</div>
    	</div>
    </div>
	</form>