  <div class="swap-tabs">
    <div class="columns">
      <div class="column">
        <mat-sidenav-container class="menu is-fullwidth" role="navigation">
          <mat-nav-list class="menu-list">
            <a mat-list-item (click)="setTab(1)" class="menu-label"> Notifications </a>
            <a mat-list-item (click)="setTab(2)" class="menu-label"> Messages </a>
            <a mat-list-item (click)="setTab(3)" class="menu-label"> View Contracts</a>
          </mat-nav-list>
        </mat-sidenav-container>
      </div>
      <div class="column">
        <div class="tab"  *ngIf="getTab()===1">
          <div class="table-container">
            <table mat-table [dataSource]="notifications" class="table is-hoverable is-fullwidth has-text-centered">
              <!-- Based on: https://material.angular.io/components/table/examples> -->
              <tbody>
                <ng-container matColumnDef="required_action">
                  <th mat-header-cell *matHeaderCellDef> Required Action </th>
                  <td mat-cell *matCellDef="let element"> {{element.required_action}} </td>
                </ng-container>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="deadline">
                  <th mat-header-cell *matHeaderCellDef> Deadline </th>
                  <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="notificationColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: notificationColumns;"></tr>
              </tbody>
            </table>
          </div>
          <button class="button is-fullwidth has-background-info has-text-white-bis">View Notification</button>
          <button class="button is-fullwidth has-background-info has-text-white-bis">Send Notification</button>
          <button class="button is-fullwidth has-background-danger has-text-white-bis">Delete Notification</button>
        </div>
        <div class="tab"  *ngIf="getTab()===2">
          <div class="table-container">
            <table mat-table [dataSource]="messages" class="table is-hoverable is-fullwidth has-text-centered">

  <!-- Based on: https://material.angular.io/components/table/examples> --

    ['recipients', 'id', 'received', 'contents', 'send date'] -->
    <ng-container matColumnDef="recipients">
      <th mat-header-cell *matHeaderCellDef> Recipients </th>
      <td mat-cell *matCellDef="let element"> {{element.recipients}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="received">
      <th mat-header-cell *matHeaderCellDef> Received? </th>
      <td mat-cell *matCellDef="let element"> {{element.received}} </td>
    </ng-container>
    <ng-container matColumnDef="contents">
      <th mat-header-cell *matHeaderCellDef> Contents </th>
      <td mat-cell *matCellDef="let element"> {{element.contents}} </td>
    </ng-container>
    <ng-container matColumnDef="send_date">
      <th mat-header-cell *matHeaderCellDef> Send Date </th>
      <td mat-cell *matCellDef="let element"> {{element.send_date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="messageColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: messageColumns;"></tr>
  </table>
</div>
<button class="button is-fullwidth has-background-info has-text-white-bis">View Message</button>
<button class="button is-fullwidth has-background-info has-text-white-bis">Send Message</button>
<button class="button is-fullwidth has-background-danger has-text-white-bis">Delete Message</button>
</div>
<div class="tab"  *ngIf="getTab()===3">
  <div class="table-container">
    <table mat-table [dataSource]="contracts" class="table is-hoverable is-fullwidth has-text-centered">

      <!-- Based on: https://material.angular.io/components/table/examples> -->
      <ng-container matColumnDef="parties">
        <th mat-header-cell *matHeaderCellDef> Involved parties </th>
        <td mat-cell *matCellDef="let element"> {{element.parties}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="signed">
        <th mat-header-cell *matHeaderCellDef> Signed? </th>
        <td mat-cell *matCellDef="let element"> {{element.signed}} </td>
      </ng-container>
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline </th>
        <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="contractColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: contractColumns;"></tr>
    </table>
  </div>
  <button class="button is-fullwidth has-background-info has-text-white-bis">View Contract</button>
  <button class="button is-fullwidth has-background-info has-text-white-bis">Add Contract</button>
  <button class="button is-fullwidth has-background-info has-text-white-bis">Edit Contract</button>
  <button class="button is-fullwidth has-background-danger has-text-white-bis">Delete Contract</button>
</div>
</div>
</div>
</div>
