.navigation-bar {
  width: auto;
  height: 100%;
  color:  green;
  border: 1px solid #555;
  float:  left;
}

table {
  width: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

td, th {
  width: auto;
}