<aside class="menu is-hidden-mobile my-5">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a>Dashboard</a></li>
    </ul>
    <p class="menu-label">
        Contracts
    </p>
    <ul class="menu-list">
        <li><a (click)="showModal()">Add Contract</a></li>
        <li><a>View Contracts</a></li>
        <li><a>Delete Contract</a></li>
    </ul>
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li>
            <a>Manage Your Team</a>
            <ul>
                <li><a>Attorneys</a></li>
                <li><a>Add an attorney</a></li>
                <li><a>Remove an attorney</a></li>
            </ul>
        </li>
    </ul>
</aside>