<footer class="footer has-background-info-dark">
  <div class="content has-text-centered has-text-white">
    <h1>W3hubs</h1>
    <div class="columns">
      <div class="column">
        <h6>About Us</h6>
        <p class="has-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="column">
        <h6>Important</h6>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div class="column">
        <h6>Important</h6>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      <div class="column">
        <h6>Subscribe</h6>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="email" placeholder="Email">
          <span class="icon is-left">
          <i class="fa fa-envelope"></i>
          </span>
        </div>
        <a class="button is-info is-rounded">Subscribe</a>
      </div>
    </div>
  </div>
</footer>