<section class="info-tiles mt-5">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{cardData.notificationCount}}</p>
                <p class="subtitle">Notifications</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{cardData.contractCount}}</p>
                <p class="subtitle">Contracts</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{cardData.messageCount}}</p>
                <p class="subtitle">Messages</p>
            </article>
        </div>
    </div>
</section>