<!-- <div class="card my-5">
    <header class="card-header">
        <p class="card-header-title">
            Search For A {{ fieldElement.name}} By ID
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="control has-icons-left">
                <input class="input is-large" type="text" placeholder="" (input)="searchVals($event)">
                <span class="icon is-medium is-left">
                    <i class="fa fa-search"></i>
                </span>
                <span class="icon is-medium is-right">
                    <i class="fa fa-check"></i>
                </span>
            </div>
        </div>
    </div>
</div> -->